body{
  background-color: grey;
}
img {
  background-color: #2D4B84;
  max-width: 100%;
  border: solid 2px #000000;
  padding: 2px;
  margin-top: 10px;
}
.imagem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 800px;
  margin-bottom: 5%;
}
h1 {
  background-color: #033a68;
  border: solid 4px #f6f2f2;
  padding: 4px;
  margin-top: 10px;
  height: 12vh;
  width: 92vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /*font-style: oblique;*/
  font-size: 35px;
  color: #ffffffd0;
  border: solid 2px #0000009a;
  padding: 2px;
  margin-top: 10px;
  max-width: 100%;
}

mat-expansion-panel-header {
  font-style: oblique;
  font-size: 12px;
  color: #888585d0;
}

mat-panel-description {
  font-style: oblique;
  font-size: 12px;
  color: #777373d0;
}

mat-panel-title {
  font-style: oblique;
  font-size: 12px;
  color: #777373d0;
}

mat-panel-description {
  font-style: oblique;
  font-size: 12px;
  color: #777373d0;
}

.warnning{
  color: red;
}
.refresh{
  color:yellow;
}
.checkbox{
  color:green;
}
