<!--
{{address}}
{{description}}
{name}}
{{photo}}
{{tags}}
-->
<mat-card class="container"><h1>{{name}}</h1>
  <div class="imagem"><img src={{photo}}></div>
  <p>Prioridade.</p>
  <mat-progress-bar mode="determinate" value={{prioridade}}></mat-progress-bar><br>
  <mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{name}}
          </mat-panel-title>
          <mat-panel-title>
            {{tags}}
          </mat-panel-title>
          <mat-panel-title>
            Detalhes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{description}}</p>
        <p>{{address}}</p>
      </mat-expansion-panel>
    </mat-accordion>

