<!--
{{address}}
{{description}}
{name}}
{{photo}}
{{tags}}
-->
<mat-card><h1>{{name}}</h1>
  <mat-icon aria-hidden="false" aria-label="Example warning icon" class="warning">warning</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example refresh icon" class="loading">refresh</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example check_box icon" class="checkbox">check_box</mat-icon><br>
  <img src={{photo}} >
  <p>Progresso.</p>
  <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{address}}
        </mat-panel-title>
        <mat-panel-description>
          Mais informações
        </mat-panel-description>
        <mat-panel-title>
          {{tags}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{description}}</p>
    </mat-expansion-panel>
<h1>{{name}}}</h1>
<mat-icon aria-hidden="false" aria-label="Example warning icon" class="warning">warning</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example refresh icon" class="loading">refresh</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example check_box icon" class="checkbox">check_box</mat-icon><br>
  <img src={{photo}} >
  <p>Progresso.</p>
  <mat-progress-bar mode="determinate" value="90"></mat-progress-bar><br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{address}}
        </mat-panel-title>
        <mat-panel-description>
          Mais informações
        </mat-panel-description>
        <mat-panel-title>
          {{tags}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{description}}</p>
    </mat-expansion-panel>
      <h1>{{name}}}</h1>
      <mat-icon aria-hidden="false" aria-label="Example warning icon" class="warning">warning</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example refresh icon" class="loading">refresh</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example check_box icon" class="checkbox">check_box</mat-icon><br>
      <img src={{photo}} >
      <p>Progresso.</p>
      <mat-progress-bar mode="determinate" value="16"></mat-progress-bar><br>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{address}}
          </mat-panel-title>
          <mat-panel-description>
            Mais informações
          </mat-panel-description>
          <mat-panel-title>
            {{tags}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{description}}</p>
      </mat-expansion-panel>
    <h1>{{name}}}</h1>
    <mat-icon aria-hidden="false" aria-label="Example warning icon" class="warning">warning</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example refresh icon" class="loading">refresh</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example check_box icon" class="checkbox">check_box</mat-icon><br>
    <img src={{photo}} >
    <p>Progresso.</p>
    <mat-progress-bar mode="determinate" value="45"></mat-progress-bar><br>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{address}}
          </mat-panel-title>
          <mat-panel-description>
            Mais informações
          </mat-panel-description>
          <mat-panel-title>
            {{tags}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{description}}</p>
      </mat-expansion-panel>
      <h1>{{name}}}</h1>
      <mat-icon aria-hidden="false" aria-label="Example warning icon" class="warning">warning</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example refresh icon" class="loading">refresh</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example check_box icon" class="checkbox">check_box</mat-icon><br>
    <img src={{photo}} >
    <p>Progresso.</p>
    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar><br>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{address}}
          </mat-panel-title>
          <mat-panel-description>
            Mais informações
          </mat-panel-description>
          <mat-panel-title>
            {{tags}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{description}}</p>
      </mat-expansion-panel>
    </mat-accordion>

